.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: rgb(0, 0, 0);
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}
.cursor-dot,
.cursor-outline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    opacity:1;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transfrom 0.3s ease-in-out;
}